h1{
    font-family:serif, arial;
    color:black;
    padding: auto;
    margin: auto;
    text-align: center;
}

p{
    font-family:serif, arial;
    color:black;
    padding: auto;
    margin: auto;
    text-align: center; 
}