nav {
  display: flex;
  gap: 8px;
  background-color:black;
}

ul{
  display: flex;
  gap:30px;
  list-style-type: none;
  font-size:20px;
}

.nav-link{
  color: white;
  text-decoration: none;
}

.nav-link:hover{
  background-color: red;
width: 100%;
padding: 30px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Adjust the color as needed */
    padding: 10px 0; /* Adjust padding as needed */
    z-index: 10; /* Ensure it's above other content */
}

#welcome-section {
    /* Add margin-top to push it below the navbar */
    margin-top: 80px;
}

.projects-grid{
   display: grid; 
   grid-template-columns: 50% 50%;
}

.projects-grid img{
  margin-left: 200px;
}

.projects-grid p{
  text-align:center;
}



@media(max-width:300px){
 a {
    font-size: 16px; /* Adjust font size for smaller screens */
  }


h1{
  font-family: sans-serif, Verdana;
font-size: 30px;
}

p{
  font-family: sans-serif, Verdana;
}



